<div class="nav-content">
      
    <div (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" class="nav-menu-item">Presentación</div>
    <div (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" class="nav-menu-item">Estudios Académicos</div>
    <div (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" class="nav-menu-item">Experiencia</div>
    <div (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)" class="nav-menu-item">Contacto</div>

</div>